<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

<div *ngFor="let chat of _cs.chats"
[ngClass]="{'text-right': _cs.usuario.uid == chat.uid}">

  <span class="badge"
  [ngClass]="{'badge-primary': _cs.usuario.uid == chat.uid,
  'badge-success': _cs.usuario.uid != chat.uid }">
  {{ chat.nombre }}</span>
  <p>
    {{chat.mensaje}}
  </p>
</div>




 <!--
La prueba para ver como se veia

<span class="badge badge-primary">Jiram</span>
  <p>
    Esto deberia ser un mensaje
  </p>
</div>

  <div>

    <span class="badge badge-success">Jesucristo</span>
    <p>
      Esto deberia ser un mensaje
    </p>
  </div>

 -->

  


  

</div>
<input type="text" name="mensaje"
[(ngModel)]="mensaje"
class="form-control"
(keyup.enter)="enviar_mensaje()"
placeholder="Enviar mensaje">




<!--
<ul>
    <li class="text" *ngFor="let chat of chats | async">
      {{chat.mensaje}}
    </li>
  </ul>

-->



